{% extends "base.html" %}

{% block content %}
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center py-6">
        <h1 class="text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">Welcome to our Store</h1>
        <p class="mt-1 max-w-xl mx-auto text-xl text-gray-500">Find the best products at the best prices</p>
    </div>

    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 gap-8">
        {% for product in products %}
        <div class="bg-white rounded-lg shadow overflow-hidden">
            <div class="p-1">
                <img src="{{ url_for('static', filename='images/' + (product.image if product.image else 'inanasi.jpg')) }}"
     alt="{{ product.name }}" class="w-full h-48 object-cover">
     <a href="{{ url_for('main.product_details', product_id=product.id) }}"><h3 class="mt-4 text-lg font-medium text-gray-900">{{ product.name }}</h3></a>

                <p class="mt-1 text-sm text-gray-500">{{ product.description|truncate(100) }}</p>
                <div class="mt-4 flex flex-col items-start space-y-2">
                    <span class="text-lg font-bold text-gray-900">
                        RF{{ "%.2f"|format(product.price) }}
                    </span>
                    <a href="{{ url_for('main.add_to_cart', product_id=product.id) }}"
                       class="px-3 py-1 bg-blue-500 text-white text-sm rounded hover:bg-blue-600">
                       Add to Cart
                    </a>
                </div>
                
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}